version: '3.8'

services:
  db:
    image: postgres:15
    container_name: postgres-task-manager
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: task_manager
    ports:
      - '5432:5432'
    volumes:
      - pgdata:/var/lib/postgresql/data
  redis:
    image: redis
    container_name: redis-task-manager
    restart: always
    ports:
      - '6379:6379'

volumes:
  pgdata:
